<div class="container-md">

    <!-- <h1>Data from Outlook</h1> -->
    <!-- <button class="btn btn-primary" (click)="getCalendars()">Get calendars</button> -->
    <!-- <p>{{dataFromOutlook}}</p> -->
    <div class="row">
        <button class="btn btn-primary" (click)="getImage()">Get image</button>
    </div>
    <div class="row">
        <img [src]="imageToShow" alt="Downloaded image form API" class="img-thumbnail"
            *ngIf="isImageLoaded"
        >
        <!--  when imageToSchow is svg then angular prevents loading
        need to use DOM sanitizer: https://angular.io/api/platform-browser/DomSanitizer#description
        Preventing cross-site scripting (XSS) : https://angular.io/guide/security
        
        -->
    </div>

</div>

