<div class="container-md">

    <!-- <h1>Data from Outlook</h1> -->
    <!-- <button class="btn btn-primary" (click)="getCalendars()">Get calendars</button> -->
    <!-- <p>{{dataFromOutlook}}</p> -->
    <div class="row">
        <button class="btn btn-primary" (click)="getImage()">Get image</button>
    </div>
    <div class="row">
            <img [src]="domSanitizer.bypassSecurityTrustResourceUrl(imageToShow) " alt="Downloaded from API image " class="img-fluid"
                *ngIf="isImageLoaded"
            >
            <!--  when imageToShow is svg then angular prevents loading
            need to use DOM sanitizer: https://angular.io/api/platform-browser/DomSanitizer#description
            Preventing cross-site scripting (XSS) : https://angular.io/guide/security
            Above solution byPasses security, but it is not safe in case unknown source is used - as a rule svg should be properly sanitized:
            https://medium.com/angular-in-depth/warning-sanitizing-html-stripped-some-content-and-how-to-deal-with-it-properly-10ff77012d5a
            
            -->
    </div>

</div>

